streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq

chromadb==0.4.24
protobuf==3.20.3
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0

numpy==1.26.4

sentence-transformers
pysqlite3-binary
