streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
chromadb
numpy
pysqlite3-binary
protobuf==3.20.3
